:root {
    /* Colors */
    --base-color: #3498DB;
    --second-color: #69A8E7;
    --black-color: #000000;
    --grey-color: #6F6F6F;
    --white-color: #FFFFFF;
    --cyan-Blue-color: #F6F9FC;
}
/* style of input type:radio */
input[type="radio"]{
    -webkit-appearance : none;
    appearance         : none;
    width              : 30px;
    height             : 30px;
    margin             : calc(0.75em - 11px) 0.25rem 0 0;
    vertical-align     : top;
    border             : 2px solid #ddd;
    border-radius      : 4px;
    background         : var(--white-color) no-repeat center center;
}
input[type="radio"]{
    border-radius : 50%;
}
input[type="radio"]:where(:active:not(:disabled), :focus){
    border-color      : var(--base-color);
    background-color  : var(--base-color);
    outline           : none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}